@model List<HelloDoc.ViewModels.Dashboard>

@{
    List<String> status = new List<string>() {"Unassigned", "Accepted", "Cancelled", "Reserving", "MDEnRoute", "MDOnSite", "FollowUp", "Closed", "Locked", "Declined", "Consult", "Clear",
                            "CancelledByProvider", "CCUploadedByClient", "CCApprovedByAdmin" };

    List<String> months = new List<String>() { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec" };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Dashboard
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/patient/dashboard.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/patient/dashboard.js"></script>
</head>
<body>
    <partial name="_DashboardHeader" />
    <div class="tab-content" id="dashboard_content">
        <span class="h3">
            Medical History
        </span>
        <div class="d-flex flex-column align-items-end" id="history">
            <button id="new-request">
                <span id="button-text">
                    Create New Request
                </span>
                <i id="button-icon" class="bi bi-plus"> </i>
            </button>
            <!-- table -->
            <div class="table-responsive w-100">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th class="col-2">
                                Created Date
                            </th>
                            <th class="col-2">
                                Current Status
                            </th>
                            <th class="col-8">
                                Document
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var iteam in Model)
                        {
                            <tr>
                                <td>
                                    @months[int.Parse(@iteam.StrMonth.ToString())-1] @iteam.IntDate, @iteam.IntYear
                                </td>
                                <td>
                                    @status[int.Parse(@iteam.Status.ToString())-1]
                                </td>
                                <td>
                                    @{
                                        if (@iteam.Document.Count>0)
                                        {
                                            //str = '"' + @iteam.DoumentsPaths.ToString() + '"';
                                            <a asp-controller="Patient" asp-action="ViewDocument" asp-route-id="@iteam.Document">
                                                <button id="document">
                                                    (@iteam.Document.Count) Document
                                                </button>
                                            </a>
                                        }
                                    }
                                </td>
                            </tr>
                        } @*
                        <tr>
                        <td>
                        Sep 27,2023
                        </td>
                        <td>
                        Accepted
                        </td>
                        <td>
                        <button id="document">
                        (1) Document
                        </button>
                        </td>
                        </tr>
                        *@
                    </tbody>
                </table>
            </div>
            <!-- table(mobile-view) -->
            <div class="accordion accordion-flush w-100" id="accordionFlushExample">
                @foreach(var iteam in Model)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                <i class="bi bi-clock me-2"></i>
                                <b class="me-2">Created Date: </b> @months[int.Parse(@iteam.StrMonth.ToString())-1] @iteam.IntDate, @iteam.IntYear
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div>
                                    <i class="bi bi-person-circle me-2"></i>
                                    <b class="me-2">Provider: -</b>
                                </div>
                                <div>
                                    <i class="bi bi-check-circle me-2"></i>
                                    <b class="me-2">Current Status: - </b> @status[int.Parse(@iteam.Status.ToString())-1]
                                    @{
                                        if (@iteam.Document.Count > 0)
                                        {
                                            <a asp-controller="Patient" asp-action="ViewDocument" asp-route-id="@iteam.Document">
                                                <button id="document">
                                                    (1) Document
                                                </button>
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="tab-content" id="profile_content">
        Profile content
    </div>
</body>
</html>
