@model Repositories.ViewModels.Admin.ViewCase

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewCase</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/international-telephone-input.css" rel="stylesheet" />
    <script src="~/js/international-telephone-input.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/admin/ViewCase.css" rel="stylesheet" />
    <script src="~/js/Admin/viewCase.js"></script>
</head>

<body>
    @await Component.InvokeAsync("Notyf")
    @Html.Partial("~/Views/Shared/_AdminDashboardHeader.cshtml",  Model.Header)
    @Html.Partial("~/Views/Shared/_RequestCancelPopUp.cshtml",Model.CancelPopup)
    <div class="tab-content container" id="profile_content">
        <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
            <div class="d-flex align-items-center">
                <h3>
                    View Reservation
                </h3>
                <div class="bg-success rounded-pill text-white p-2 px-4 fw-bold mx-1">
                    Patient
                </div>
            </div>
            <a asp-controller="Admin" asp-action="Dashboard" >
                <button id="back-box">
                    <i class="bi bi-chevron-left"> </i>
                    Back
                </button>
            </a>
        </div>
        <form class="w-100" enctype="multipart/form-data" id="form" asp-controller="Admin" asp-action="ViewCase">
            <input readonly class="form-control d-none" id="email" type="email" asp-for="Email" />
            <input readonly class="form-control d-none" type="text" asp-for="RequestId" />
            <input readonly class="form-control d-none" id="rgion" asp-for="Region" />
            <input readonly class="form-control d-none" id="add" asp-for="Address" />
            <input readonly class="form-control d-none" id="room" asp-for="Room" />
            <fieldset disabled id="Fieldset">
                <h5 class="fw-semibold mb-3">
                    Patient Information
                </h5>
                Conformation Number
                <h5 class="fw-semibold">
                    MD48456498456
                </h5>
                <div class="d-none">
                    @Html.EditorFor(model => model.Header,new { htmlAttributes = new { @class = "d-none"} })
                    @Html.EditorFor(model => model.CancelPopup,new { htmlAttributes = new { @class = "d-none"} })
                </div>
                <textarea asp-for="PatientNotes" class="form-control" placeholder="Patient Notes" rows="3"></textarea>
                <hr />
                <div class="row">
                    <div class="form-floating col-xl-6 col-md-6 col-lg-6">
                        <input class="form-control" id="first-name" asp-for="FirstName" />
                        <label for="first-name">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-xl-6 col-md-6 col-lg-6">
                        <input class="form-control" id="last-name" asp-for="LastName" />
                        <label for="last-name">Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-xl-6 col-md-6 col-lg-6">
                        <input class="form-control" id="date" type="date" asp-for="BirthDate" />
                        <label id="date-picker" for="date">Date of Birth</label>
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-6 d-flex align-items-end">
                        <div class="form-floating w-100">
                            <input class="form-control" id="phone" type="tel" asp-for="Mobile" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                            @*<label for="phone">Phone Number</label> *@
                        </div>  
                        <button class="px-3 mx-3">
                            <i class="bi bi-telephone-fill"></i>
                        </button>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="form-floating col-xl-6 col-md-6 col-lg-6">
                    <input class="form-control" id="email" type="email" asp-for="Email" disabled />
                    <label for="email">Email</label>
                </div>
                <button class="col-xl-6 col-md-6 col-lg-6 editButton" id="edit" onclick="ProfileEdit(true)" type="button">
                    Edit
                </button>
                <div class="col-xl-6 col-md-6 col-lg-6" id="submit">
                    <button class="px-3">
                        Save
                    </button>
                    <button class="px-3 mx-2" onclick="ProfileEdit(false)" type="button">
                        Cancel
                    </button>
                </div>
            </div>
            <fieldset disabled>
                <h5 class="fw-semibold mt-4">
                    Location Information
                </h5>
                <div class="row">
                    <div class="form-floating col-xl-6 col-md-6 col-lg-6">
                        <input class="form-control" id="rgion" asp-for="Region" />
                        <label for="rgion">Rgion</label>
                        <span asp-validation-for="Region" class="text-danger"></span>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-6 d-flex align-items-end">
                        <div class="form-floating w-100">
                            <input class="form-control" id="add" asp-for="Address" />
                            <label for="add">Address</label>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <button class="px-3 mx-3">
                            <i class="bi bi-geo-alt-fill"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-xl-6 col-md-6 col-lg-6">
                        <input class="form-control" id="room" asp-for="Room" />
                        <label for="room">Room #</label>
                        <span asp-validation-for="Room" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
            <div class="d-flex mt-2 justify-content-end">
                <a asp-controller="" asp-action="">
                    <button class="px-3 mx-1" id="viewNotesButton" type="button">
                        Assign
                    </button>
                </a>
                <a asp-controller="Admin" asp-action="ViewNotes" asp-route-requestId="@Model.RequestId">
                    <button class="px-3 mx-1" id="viewNotesButton" type="button">
                        View Notes
                    </button>
                </a>
                <button class="bg-danger px-3 text-white mx-1" onclick="cancelPopUp(@Model.RequestId)" data-bs-target="#cancelRequest" data-bs-toggle="modal" type="button">
                    Cancle
                </button>
               @* <a asp-controller="Admin" asp-action="CancleRequest" asp-route-requestId="@Model.RequestId">
                    <button class="bg-danger px-3 text-white mx-1" onclick="ProfileEdit(false)" type="button">
                        Cancle
                    </button>
                </a>*@
            </div>
        </form>
    </div>
    <script>
        const phoneInputField = document.getElementById("phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
</body>
</html>
