@model Repositories.ViewModels.Admin.ViewNotes

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewCase</title>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/admin/ViewNotes.css" rel="stylesheet" />
</head>

<body>
    @await Component.InvokeAsync("Notyf")
    @Html.Partial("~/Views/Shared/_AdminDashboardHeader.cshtml", Model.Header)
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
            <h3>
                Notes
            </h3>
            <a asp-controller="Admin" asp-action="Dashboard" asp-route-requestId="@Model.RequestId">
                <button id="back-box">
                    <i class="bi bi-chevron-left"> </i>
                    Back
                </button>
            </a>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="d-flex flex-row card p-3">
                    <i class="bi bi-arrow-left-right fs-3 me-3"></i>
                    <div>
                        <h4 class="mt-1">
                            Transfer Notes
                        </h4>
                        @for(int i=0;i<Model.TransferNotes.Count;i++)
                        {
                            <div class="d-flex">
                                <i class="bi bi-@(i+1)-square h4 me-2"></i>
                                @Model.TransferNotes[i]
                            </div>
                        }
                        @*@foreach(var item in Model.TransferNotes)
                        {
                            @item
                        }*@
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="d-flex flex-row card p-3">
                    <i class="bi bi-person-circle fs-3 me-3"></i>
                    <div>
                        <h4 class="mt-1">
                            Physician Notes
                        </h4>
                        @Model.PhysicianNotes
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="d-flex flex-row card p-3">
                    <i class="bi bi-file-person-fill fs-3 me-3"></i>
                    <div>
                        <h4 class="mt-1">
                            Admin Notes
                        </h4>
                        @Model.AdminNotes
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form asp-controller="Admin" asp-action="ViewNotes">
                    <div class="card p-3 d-flex align-items-end">
                        <input readonly class="d-none" asp-for="RequestId" type="text"/>
                        <textarea class="form-control border-2 mb-4" placeholder="Additional Notes" rows="5" asp-for="NewAdminNotes" id="newnotes"></textarea>
                        <span asp-validation-for="NewAdminNotes" class="text-danger"></span>
                        <button id="saveChanges" class="px-3" type="submit">
                            Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
