@model HelloDoc.DataModels.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeclinedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclinedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUrgentEmailSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUrgentEmailSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastWellnessDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastWellnessDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedByPhysician)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletedByPhysician)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastReservationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastReservationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTagPhysician)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTagPhysician)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientAccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientAccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Physician)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Physician.PhysicianId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
